.featured-head {
  width: 100%;
  height: 10rem;
  color: var(--dark-text-color);
}

.view-all-product {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.view-all-product:hover {
  box-shadow: 0 0 5px 2px black;
}

.thick-bar {
  width: 20%;
  border-bottom: 3px solid var(--theme-color);
}

.footer {
  width: 100%;
  height: fit-content;
  padding: 3rem;
  background: var(--light-theme-color);
}

.footer .footer-icon {
  color: var(--dark-theme-color);
}

@media only screen and (max-width: 500px) {
  .featured-head p {
    font-size: 2rem;
  }
}
