.hero-container {
  height: 4rem;
}

.card .price-details {
  font-size: 1.5;
  font-weight: 600;
  gap: 1rem;
}

.wishlist-btn {
  cursor: pointer;
  color: var(--theme-color);
}

.wishlist-btn .fa.fa-heart {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--theme-color);
}

.cart-add-btn {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .card.vertical-card .img-container {
    height: 14rem;
  }
}
